/*font-family: 'Nunito', sans-serif;*/

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700px;
  font-size: 72px;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 700px;
  font-size: 28px;
}
